<div style="padding-left: 25%; padding-right: 25%;" class="container mt-5">
    <h2>Autocadastro</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">E-mail:</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          <input type="email" class="form-control" id="email" [(ngModel)]="customer.email" name="email" required>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Senha:</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
          <input type="password" class="form-control" id="password" [(ngModel)]="customer.password" name="password" required>
        </div>
      </div>

      <div class="mb-3">
        <label for="name" class="form-label">Nome:</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          <input type="name" class="form-control" id="name" [(ngModel)]="customer.name" name="name" required>
        </div>
      </div>

      <div class="mb-3">
        <label for="cpf" class="form-label">CPF:</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          <input type="cpf" class="form-control" id="cpf" [(ngModel)]="customer.cpf" name="cpf" required>
        </div>
      </div>

      <div class="mb-3">
        <label for="address" class="form-label">Endereço:</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          <input type="address" class="form-control" id="address" [(ngModel)]="customer.address" name="address" required>
        </div>
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Telefone:</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          <input type="phone" class="form-control" id="phone" [(ngModel)]="customer.phone" name="phone" required>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
    <br>
    <button (click)="returnLoginPage(); $event.preventDefault()" class="btn btn-primary">Sair</button>
    <p *ngIf="message">{{ message }}</p>
  </div>
  