<div style="padding-left: 25%; padding-right: 25%;" class="container mt-5">
  <h2>Login</h2>
  <form>
    <div class="mb-3">
      <label for="email" class="form-label">E-mail:</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
        <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Senha:</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
        <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
      </div>
    </div>

    <button (click)="onLogin(); $event.preventDefault()" class="btn btn-primary">Fazer Login</button>
  </form>
  <br>
  <button (click)="onRegister(); $event.preventDefault()" class="btn btn-primary">Criar Conta</button>
  <p *ngIf="message">{{ message }}</p>
</div>